:root {
  --red-color: #f25022;
  --green-color: #7fba00;
  --blue-color: #00a4ef;
  --yellow-color: #ffb900;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.title {
  padding-top: 3%;
  margin-bottom: 3%;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 4%;
}

.tile {
  width: 180px;
  height: 180px;
  border: none;
  position: relative;
}
.tile:hover,
.btn-start:hover {
  cursor: pointer;
}

.tile-1 {
  background: var(--red-color);
  box-shadow: 0 0 0 1px #f25022 inset, 0 0 0 2px rgb(255 255 255 / 15%) inset,
    0 8px 0 0 #c93a12, 0 8px 0 1px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
}
.tile-2 {
  background: var(--green-color);
  box-shadow: 0 0 0 1px #7fba00 inset, 0 0 0 2px rgb(255 255 255 / 15%) inset,
    0 8px 0 0 #638f05, 0 8px 0 1px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
}
.tile-3 {
  background: var(--blue-color);
  box-shadow: 0 0 0 1px #00a4ef inset, 0 0 0 2px rgb(255 255 255 / 15%) inset,
    0 8px 0 0 #0883bc, 0 8px 0 1px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
}
.tile-4 {
  background: var(--yellow-color);
  box-shadow: 0 0 0 1px #ffb900 inset, 0 0 0 2px rgb(255 255 255 / 15%) inset,
    0 8px 0 0 #c28e07, 0 8px 0 1px rgb(0 0 0 / 40%),
    0 8px 8px 1px rgb(0 0 0 / 50%);
}
.tile-active {
  box-shadow: none;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-start {
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding: 4% 4%;
  width: 85px;
  font-weight: 600;
}
.status {
  text-transform: uppercase;
  text-align: center;
}
.game-description {
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 400px) {
  .tile {
    width: 120px;
    height: 120px;
  }
}
