@font-face {
  font-family: "Brush Script MT";
  src: url(assets/fonts/brush\ script\ mt\ kursiv.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: #d6336c;
  font-size: 10px;
  font-family: "Brush Script MT", Brush Script Std, cursive;
  background: #fff0f6;
}

/*HEAD*/
.socials-section {
  width: 100%;
  text-align: center;
  font-size: 3em;
}
.socials-heading {
  margin: 1% 0 4%;
}
.social-handles-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.social a:link,
.social a:visited,
.social a:active {
  text-decoration: none;
  color: #d6336c;
}
.social svg {
  width: 48px;
  height: 48px;
}

.social a:hover svg {
  border: 0.09em #d6336c solid;
  border-radius: 10px;
  scale: 1.25;
  padding: 8%;
  transition: scale 0.25s;
}

.devider {
  width: 5%;
  height: 0.1em;
  border-bottom: 1.75em #d6336c dotted;
  margin: 0 auto 3%;
}

/* TOP Projects */
.projects {
  padding: 0 2%;
  margin-bottom: 8%;
}
.project-heading {
  font-size: 4.6em;
  margin-bottom: 2%;
  text-decoration: underline;
  text-underline-offset: 6px;
}
.project-container {
  display: flex;
  justify-content: space-between;
}
.project {
  width: 20%;
  position: relative;
}
.project-name {
  text-align: center;
  font-size: 3.2em;
}
.project img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 3%;
}
.project-description {
  width: 100%;
  color: #fff;
  font-size: 250%;
  padding: 0 2%;
}
.project-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(214, 51, 108, 0.8);
  position: absolute;
  top: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.project a:link,
.project a:visited,
.project a:hover,
.project a:active {
  text-decoration: none;
  color: #d6336c;
}

.hidden-temp {
  opacity: 0;
  transition: 1s;
}
