@font-face {
  font-family: "Kalam-Regular";
  src: url(assets/fonts/Kalam-Regular.ttf);
}
@font-face {
  font-family: Nunito;
  src: url(assets/fonts/Nunito-Italic-VariableFont_wght.ttf);
}
html {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: #d6336c;
  font-size: 10px;
  font-family: "Kalam-Regular";
  background: linear-gradient(to bottom, #fff0f6, #ffdeeb);
  position: relative;
  overflow: hidden;
}

.menu-button {
  display: none;
  position: absolute;
  top: 0.5%;
  right: 3%;
  color: #fff;
  background-color: #d6336c;
  padding: 8px 8px 4px;
  border-radius: 12px;
  z-index: 2;
}
.menu-button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  font-size: 3em;
  background-color: #d6336c;
  justify-content: space-around;
  color: #fff;
  align-items: center;
  margin-bottom: 7%;
  position: relative;
}
.nav-link {
  border-radius: 10px;
  padding: 1% 0 0.75%;
}
.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 7px;
}

header {
  text-align: center;
}
.projects-heading {
  font-size: 4.8em;
  margin-bottom: 1%;
}
.mini-projects-description {
  font-size: 3em;
  margin-bottom: 8%;
}

/* TOP Projects */
.projects {
  padding: 0 2%;
  margin-bottom: 2%;
  transition: all 1s;
}
.project-heading {
  font-size: 4.6em;
  margin-bottom: 3%;
  text-decoration: underline;
  text-underline-offset: 6px;
}
h2.top-projects-heading {
  margin-bottom: 0;
  display: inline-block;
}
.project-info {
  font-size: 2.8em;
  font-family: cursive;
  margin-bottom: 3%;
  display: inline-block;
}
.project-container {
  display: flex;
  justify-content: space-between;
}
.project {
  width: 20%;
  height: 300px;
  position: relative;
}
.project-name {
  text-align: center;
  font-size: 3.2em;
}
.project img {
  width: 100%;
  height: 60%;
  border-radius: 20px;
  margin-bottom: 3%;
}
.project-description {
  width: 100%;
  color: #fff;
  font-size: 250%;
  padding: 0 2%;
}
.project-overlay {
  width: 100%;
  height: 60%;
  background-color: rgba(214, 51, 108, 0.8);
  position: absolute;
  top: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  font-family: cursive;
}
.project a:link,
.project a:visited,
.project a:hover,
.project a:active {
  text-decoration: none;
  color: #d6336c;
}

.hidden-temp {
  opacity: 0;
  transition: 1s;
}
.hidden-perm {
  display: none;
}

div.other-projects-container {
  justify-content: space-around;
}

.socials-section {
  width: 100%;
  text-align: center;
  font-size: 3em;
  background-color: #d6336c;
}
.socials-heading {
  padding: 4% 0 5%;
  color: #fff;
}
.social {
  transition: all 1s;
}
.social-handles-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}

.social a:link,
.social a:visited,
.social a:active {
  text-decoration: none;
  color: #fff;
}
.social svg {
  width: 48px;
  height: 48px;
}

.social a:hover svg {
  border: 0.09em #fff solid;
  border-radius: 10px;
  scale: 1.25;
  padding: 8%;
  transition: scale 0.25s;
}

.devider {
  width: 5%;
  height: 0.1em;
  border-bottom: 1.75em #d6336c dotted;
  margin: 0 auto 5%;
}

.intersection-animation {
  transform: translateY(100px);
  opacity: 0;
}

.social-animation {
  scale: -1;
}

nav.menu {
  display: block;
  width: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 3;
  padding: 7% 3% 0;
}
.menu-overlay {
  width: 100%;
  height: 50%;
  background: rgba(255, 222, 235, 0.4);
  z-index: 1;
  position: absolute;
}
.close-menu {
  position: absolute;
  top: 1.75%;
  right: 2%;
  color: #d6336c;
  background-color: #fff;
  padding: 3px 10px 0;
  z-index: 2;
  border-radius: 100px;
}
.close-menu:hover {
  color: #fff;
  background: #d6336c;
}
.arrow {
  display: none;
  position: absolute;
  color: #d6336c;
  top: 35%;
  z-index: 1;
}
.arrow svg {
  width: 32px;
  height: 32px;
}
.arrow:hover {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .menu-button {
    display: block;
  }
  nav {
    display: none;
  }
  .projects {
    margin-bottom: 7%;
  }
  .projects-heading {
    margin-top: 4%;
  }
  .project-heading {
    text-underline-offset: 2px;
    font-size: 4em;
    margin-bottom: 4%;
  }
  .project-container {
    position: relative;
  }
  .project {
    flex: 100% 0 0;
    width: 100%;
    height: 250px;
    display: inline-block;
    text-align: center;
  }
  .arrow {
    display: block;
  }
  .arrow-left {
    left: 1%;
  }
  .arrow-right {
    right: 1%;
  }
  .project img,
  .project-overlay {
    width: 50%;
    height: 80%;
    margin: 0 auto 1%;
  }
  .project-overlay {
    margin-left: 25%;
  }
  body {
    font-size: 7px;
  }
  .social svg {
    width: 32px;
    height: 32px;
  }
  .devider {
    width: 10%;
    border-bottom: 1.25em #d6336c dotted;
  }
  nav.menu {
    width: 40%;
    padding-top: 10%;
  }
  .menu-nav-link {
    background-color: #fff;
    color: #d6336c;
    margin-bottom: 4%;
    padding: 2%;
    text-align: center;
  }
  .menu-nav-link:hover {
    background-color: #d6336c;
    color: #fff;
  }
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 4px;
  }
  .project {
    height: 150px;
  }
  .project-heading {
    font-size: 3.5em;
  }
  .social svg {
    width: 28px;
    height: 28px;
  }
  nav.menu {
    padding: 12% 2%;
    width: 75%;
  }
  .close-menu {
    padding: 6px 6px 0;
    top: 1.75%;
  }
  .menu-button {
    /* top: 5px; */
  }
  .project img,
  .project-overlay {
    width: 60%;
    height: 90%;
  }
  .arrow svg {
    width: 24px;
    height: 24px;
  }
  .project-overlay {
    margin-left: 20%;
  }
}
