@font-face {
  font-family: fa;
  src: url(assets/fonts/fa-regular-400.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "fa", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

header {
  border-bottom: 1px solid #dbdbdb;
  box-shadow: #dbdbdb 0px 0px 1px;
  margin-bottom: 20px;
}

.header-container {
  width: 70vw;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 190px;
  padding: 7px;
  text-align: center;
  border: 1px solid #dbdbdb;
  font-family: inherit;
  font-weight: 600;
  border-radius: 5px;
}

.navigations {
  display: flex;
  column-gap: 25px;
}

.nav:hover,
.profile-icon:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.chats {
  position: relative;
}

.msgs-mark {
  background-color: #ed4956;
  color: #fff;
  border-radius: 100%;
  font-size: 10px;
  padding: 3px 7px;
  position: absolute;
  top: -7px;
  right: -7px;
}

.profile-icon img {
  width: 25px;
  height: auto;
  border-radius: 100%;
}

.profile-icon {
  position: relative;
}

.profile-menu {
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
  width: 150px;
  left: -100px;
  top: 40px;
  border-radius: 5px;
  display: none;
  z-index: 2;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.profile-option {
  display: flex;
  padding: 10px;
  column-gap: 10px;
  align-items: center;
  border-bottom: 2px solid #dbdbdb;
}
.log-out-option {
  padding: 10px;
}

.profile-menu:hover {
  cursor: pointer;
}

.main-container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

main {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.stories {
  display: flex;
  align-items: center;
  column-gap: 25px;
  text-align: center;
  font-size: 13px;
  width: 100%;
  border: 1px solid #dbdbdb;
  padding: 10px;
}
.story-img {
  background: linear-gradient(225deg, red, yellow);
  padding: 2px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.story-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.story:hover {
  cursor: pointer;
}

.post {
  border: 1px solid #dbdbdb;
  width: 100%;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  column-gap: 20px;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  padding: 10px 15px;
}
.post-header-img {
  background: linear-gradient(225deg, red, yellow);
  padding: 2px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.post-header-img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.post-more {
  margin-left: auto;
  position: relative;
  font-size: 20px;
  bottom: 5px;
}

.post-header-img:hover,
.post-profile-name:hover,
.post-more:hover {
  cursor: pointer;
}
.post-img img {
  width: 100%;
  height: 650px;
}
.post-footer {
  padding: 10px 15px;
}
.post-icons {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}
.post-save {
  margin-left: auto;
}
.post-icon:hover {
  cursor: pointer;
}
.post-comments {
  margin-bottom: 20px;
}
.comment-box-container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.comment-box input {
  border: none;
  width: 550px;
  padding: 8px 0;
}
.comment-box input:focus {
  border: none;
  outline: none;
}
.comment-post {
  color: #00b2f9;
  font-weight: 700;
}
.emojis:hover,
.comment-post:hover {
  cursor: pointer;
}

aside {
  padding: 10px;
  width: 330px;
}
aside h2 {
  margin-bottom: 20px;
  color: #8f8f8f;
  font-weight: 700;
  font-size: 19px;
}
.suggestion {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}
.suggestion img {
  width: 60px;
  border-radius: 100%;
}
.follow-button {
  font-size: 16px;
  margin-left: auto;
  color: #00b2f9;
  font-weight: 700;
}
.suggestion p {
  font-size: 12px;
}
.follows-you {
  font-size: 16px;
  font-weight: 700;
  color: #808080;
}

@media only screen and (max-width: 1250px) {
  .main-container,
  .header-container {
    width: 60vw;
  }
  main {
    width: 450px;
  }
  .comment-box input {
    width: 400px;
  }
  aside {
    width: 200px;
  }
} ;
